<!-- google font -->
    <link href="../../admin/css.css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css">
	<!-- icons -->
    <link href="../../admin/assets/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
    <link href="../../admin/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="../../admin/fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css">
	<!-- bootstrap -->
	<link href="../../admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="../../admin/assets/plugins/summernote/summernote.css" rel="stylesheet">
    <!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="../../admin/assets/plugins/material/material.min.css">
	<link rel="stylesheet" href="../../admin/assets/css/material_style.css">
	<!-- animation -->
	<link href="../../admin/assets/css/pages/animate_page.css" rel="stylesheet">
	<!-- inbox style -->
    <link href="../../admin/assets/css/pages/inbox.min.css" rel="stylesheet" type="text/css">
	<!-- Theme Styles -->
    <link href="../../admin/assets/css/plugins.min.css" rel="stylesheet" type="text/css">
    <link href="../../admin/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../../admin/assets/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="../../admin/assets/css/theme-color.css" rel="stylesheet" type="text/css">
	<!-- favicon -->
    <link rel="shortcut icon" href="../../admin/assets/img/favicon.ico">  
    <!-- Owl Carousel Assets -->
    <link href="../../admin/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="../../admin/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet">
    <!-- data tables -->
    <link href="../../admin/assets/plugins/datatables/plugins/bootstrap/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">