<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Mobile Specific Meta -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon-->
<link rel="shortcut icon" href="../../web/img/fav.png">
<!-- Author Meta -->
<meta name="author" content="codepixer">
<!-- Meta Description -->
<meta name="description" content="">
<!-- Meta Keyword -->
<meta name="keywords" content="">
<!-- meta character set -->
<meta charset="UTF-8">
<!-- Site Title -->
<title>Ruft Blog</title>
<!-- css -->

<style th:replace="web/share/style"></style>
</head>

<body>
	<!-- ==========Start header========== -->
	<div th:replace="web/share/header"></div>
	<!-- ==========Stop header========== -->
	<!-- Top Stories Area -->
	<!-- Start main body Area -->
	<div class="main-body section-gap">
		<div class="container box_1170">
			<div class="row">
				<div class="col-lg-12 post-list">
					<!-- Start Post Area -->
					<section class="post-area">
						<div class="row">
							<div class="col-lg-4 col-md-4">
								<div class="single-post-item">
									<div class="post-thumb">
										<img src="../../web/img/archive/1.jpg" height="529"
											width="auto" alt="">
									</div>
									<div class="post-details">
										<h4>
											<a href="#">An Stormy Evening</a>
										</h4>
										<p class="card-text">Price: 20.000 VND</p>
										<div class="blog-meta">
											 <a href="#" data-name="Orange" data-price="20000" 
											 class="add-to-cart btn btn-primary" >Add to cart</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 col-md-4">
								<div class="single-post-item">
									<div class="post-thumb">
										<img src="../../web/img/archive/2.jpg" height="529"
											width="auto" alt="">
									</div>
									<div class="post-details">
										<h4>
											<a href="#">An Stormy Evening</a>
										</h4>
										 <p class="card-text">Price: 30.000 VND</p>
										<div class="blog-meta">
											<a href="#" data-name="Banana" data-price="30000"
											 class="add-to-cart btn btn-primary">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-4 col-md-4">
								<div class="single-post-item">
									<div class="post-thumb">
										<img src="../../web/img/archive/3.jpg" height="529"
											width="auto" alt="">
									</div>
									<div class="post-details">
										<h4>
											<a href="#">An Stormy Evening</a>
										</h4>
										    <p class="card-text">Price: 40000 VND</p>
										<div class="blog-meta">
											<a href="#" data-name="Lemon" data-price="40000"
											 class="add-to-cart btn btn-primary">Add to cart</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<nav class="blog-pagination justify-content-center d-flex">
								<ul class="pagination">
									<li class="page-item"><a href="#" class="page-link"
										aria-label="Previous"> <span aria-hidden="true"> <span
												class="lnr lnr-arrow-left"></span>
										</span>
									</a></li>
									<li class="page-item"><a href="#" class="page-link">01</a></li>
									<li class="page-item active"><a href="#" class="page-link">02</a></li>
									<li class="page-item"><a href="#" class="page-link">03</a></li>
									<li class="page-item"><a href="#" class="page-link">04</a></li>
									<li class="page-item"><a href="#" class="page-link">09</a></li>
									<li class="page-item"><a href="#" class="page-link"
										aria-label="Next"> <span aria-hidden="true"> <span
												class="lnr lnr-arrow-right"></span>
										</span>
									</a></li>
								</ul>
							</nav>
						</div>
				</div>
				</section>
				<!-- Start Post Area -->
			</div>
		</div>
	</div>
	</div>
	<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">
          
        </table>
        <div>Total price: <span class="total-cart"></span> VND</div>
        <button class="clear-cart btn btn-danger">Clear Cart</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Order now</button>
      </div>
    </div>
  </div>
</div> 
	<!-- Start main body Area -->

	<!-- start footer Area -->
	<div th:replace="web/share/footer"></div>
	<!-- End footer Area -->

	<!-- Javascript -->
	<script th:replace="web/share/js"></script>
	<!-- End javascript -->
</body>

</html>